<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="/icons/logo.png" id="logo-sidebar" width="200px" style="border-radius: 40px;" alt="">
            <img src="/icons/icon-64x64.png" id="icon-sidebar" width="40px" alt="">
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/admin/inicio">
                    <i class="fas fa-desktop icono-menu-sidebar"></i>
                    <span class="d-inline">Inicio</span>
                </a>
            </li>
            <li>
                <a href="/admin/ot">
                    <i class="fas fa-tasks icono-menu-sidebar"></i>
                    <span class="d-inline">Ordenes de Trabajo</span>
                </a>
            </li>
            <li>
                <a href="/admin/proformas">
                    <i class="fas fa-tasks icono-menu-sidebar"></i>
                    <span class="d-inline">Proformas</span>
                </a>
            </li>
            <li>
                <a href="/admin/facturas">
                    <i class="fas fa-dollar-sign icono-menu-sidebar"></i>
                    <span class="d-inline">Facturas</span>
                </a>
            </li>
            <li>
                <a href="/admin/clientes">
                    <i class="fas fa-user icono-menu-sidebar"></i>
                    <span class="d-inline">Clientes</span>
                </a>
            </li>
            <li>
                <a href="/admin/reclamos">
                    <i class="fas fa-user icono-menu-sidebar"></i>
                    <span class="d-inline">Reclamos</span>
                </a>
            </li>
            <li>
                <a href="/admin/estadisticas">
                    <i class="fas fa-chart-line icono-menu-sidebar"></i>
                    <span class="d-inline">Estadisticas</span>
                </a>
            </li>
            <li>
                <a href="/admin/datos">
                    <i class="fas fa-calculator icono-menu-sidebar"></i>
                    <span class="d-inline">Datos Bancarios</span>
                </a>
            </li>
        </ul>
        <ul class="components list-unstyled">
            <li>
                <a href="/logout">
                    <i class="fas fa-door-open icono-menu-sidebar"></i>
                    <span class="d-inline">Cerrar Sesión</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- CONTENT START (se continua estos divs en el Index y en cada página)  -->
    <div id="content">
        <!-- NAVBAR START -->
        <nav class="navbar navbar-partials navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-bars"></i>
                </button>
                <span id="name-client-title-navbar"><strong>Administrador</strong></span>
            </div>
        </nav>

        <!-- NAVBAR END -->