<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Talleres Online</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Lleva el control de tu taller a donde vayas, con Talleres Online puedes gestionar el funcionamiento de tu taller mecánico ¡desde cualquier dispositivo!" />
	<meta name="theme-color" content="#55bddc" />
	<meta name="MobileOptimized" content="width">
	<meta name="HandheldFriendly" content="true">
	<link rel="shortcut icon" type="image/png" href="icons/icon-128x128.png">
	
	{{!-- Manifest --}}
	<link rel="manifest" href="manifest.json">

	{{!-- Meta IOS --}}
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="Talleres Online">
	<link rel="apple-touch-icon" href="icons/icon-152x152.png">
	<link rel="apple-touch-startup-image" href="icons/icon-152x152.png">


	{{!-- Google Fonts --}}
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap" rel="stylesheet">

	{{!-- Font Awesome --}}
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
		integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
		integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
		crossorigin="anonymous"></script>


	{{!-- Landing --}}
	<!----> <link rel="stylesheet" href="/css/landing/bootstrap.css" type="text/css" />
	<!----> <link rel="stylesheet" href="/css/landing/style.css" type="text/css" />
	<!----> <link rel="stylesheet" href="/css/landing/dark.css" type="text/css" />

	<!-- Media Agency Demo Specific Stylesheet -->
	<!----> <link rel="stylesheet" href="/css/landing/app-landing.css" type="text/css" />

	<!----> <link rel="stylesheet" href="/css/landing/font-icons.css" type="text/css" />
	<!----> <link rel="stylesheet" href="/css/landing/et-line.css" type="text/css" />
	<!----> <link rel="stylesheet" href="/css/landing/animate.css" type="text/css" />
	<!----> <link rel="stylesheet" href="/css/landing/magnific-popup.css" type="text/css" />
	<!----> <link rel="stylesheet" href="/css/landing/fonts.css" type="text/css" />

	<!-- Bootstrap Switch CSS -->
	<!----> <link rel="stylesheet" href="/css/landing/bs-switches.css" type="text/css" />
	<!----> <link rel="stylesheet" href="/css/landing/responsive.css" type="text/css" />
	<!----> <link rel="stylesheet" href="/css/landing/colors.css" type="text/css" />

	{{!-- Styles --}}
	<link href="https://cdn.jsdelivr.net/npm/round-slider@1.4.0/dist/roundslider.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/css/styles.css">


	<script src="/js/jquery-3.2.1.min.js"></script>




	

</head>

<body class="stretched">

	{{{ body }}}

	{{!-- Scripts --}}
	
                                    
	<script src="/js/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/round-slider@1.4.0/dist/roundslider.min.js"></script>
	<script src="https://kit.fontawesome.com/321200225f.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/script2.js"></script>
	<script>
      $(document).ready(function()
      {
         $("#mostrarmodal").modal("show");
      });


</body>
</html>